[flake8]
ignore =
    # Line breaks before binary operators (Black)
    W503,
    # Black sometimes puts white space before ':' when slicing
    E203

max-line-length=88
per-file-ignores =
    # Allow unused imports in __init__ files for re-exporting
    __init__.py:F401
